.vscode/**
.vscode-test/**
editor/
imgs/
data/
resource/dict/**
node_modules/**
*.vsix
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.webview.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsx
